* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    /* altura */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;

}

body {
  background: linear-gradient(to right, blue 50%, red 50%);
}


main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;

}

hr {
    font-weight: bold;
    height: 3px;
    background: rgb(230, 225, 225);
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
}